.clearfix::after {
    content: '';
    display: table;
    clear: both
}
body{
    font-family: quicksandregular;
    width: 960px;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 0 auto;
}
h2 {
    font-size: 18px;
}
h2 + p {
    font: 12px/15px Arial;
    color: #3e3e3e;
}
h3 {
    color: #4980be;
    font-size: 14px;
}
h3 + p {
    width: 100%;
    font: 12px/15px Arial;
    text-align: justify;
    color: #3e3e3e;
}
/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 153px;
}
.logo {
    width: 116px;
}
#logo_main {
    display: block;
    font-size: 72px;
    color: #4980be;
    float: left;
}
#logo_row {
    display: block;
    font-size: 30px;
    color: #a6a6a6;
    float: left;
}
.logo > span:nth-child(2) {
    padding-top: 5px;
}
li {
    display: inline-block;
    color:#a6a6a6;
    font-size: 20px;
    font-weight: bold;
}
li:not(:last-child){
    padding-right: 20px;
}
li:hover{
    color: #4980be;
}
/* HEADER`S END */

/* ASIDE */ 
aside {
    float: left;
    width: 230px;
    min-height: 645px;
    border-top: 5px solid #4980be;
    border-bottom: 5px solid #4980be;
    padding-top: 20px;
}

#search {
    width: 100%;
    margin-bottom: 28px;
}
.search {
    position: relative;
}
.search .fa-search { 
    position: absolute;
    top: 4px;
    left: 90%;
    color: #a6a6a6;
}
#latest_news{
    display: inline;
    color: #4980be;
    font-size: 24px;
}
aside > article{
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}
a{
    text-decoration: none;
    color:#9a9a9a;
}
/* ASIDE`S END*/

/* MAIN */ 
main {
    min-height: 645px;
    position: relative;
    float: right;
    width: 710px;
    padding-top: 20px;
    border-top: 5px solid #4980be;
    border-bottom: 5px solid #4980be; 
}
.banner {
    background: url('../img/room.png');
    margin-bottom: 40px;
}
.description {
    width: 200px;
    height: 300px;
    float: right;
    background: rgba(214,214,214,0.6);
    color: white;
}
.description_h {
    display: inline-block;
    padding-top: 75px;
    font-size: 18px;
    margin: 0 10px;
}
.description > p {
    font: 12px/15px Arial;
    text-align: justify;
    width: 86.5%;
    margin: 20px auto;
    color: #3e3e3e;
}

.topics-holder {
    width: 100%;
    display: flex;
}

/* MAIN`S END */ 

/* FOOTER */
footer{
    margin-bottom: 75px;
}
.icons{
    float: left;
    width: 230px;
}
.copyright{
    display: block;
    float: right;
}
.main {
    margin-bottom: 10px;
}
